.card {
  display: flex;
  justify-content: center;
  background-color: rgb(239, 231, 221);
  border-radius: 5px;
  margin: 10px 0px;
  width: 500px;
  box-shadow: 1px 2px rgb(69, 85, 132);
  height: 50px;
  padding: 30px 0px 0px 0px;
  color: darkblue;
}
