.link__block {
    padding: 30px 30px;
   margin: 20px 0px 50px 0px;
   background-color: darkkhaki;
   height: 30px;
}
.link {
    padding: 15px 30px;
    border-radius: 5px;
    border: 1px  solid rebeccapurple;
    box-shadow: 1px 1px rgb(46, 43, 43);
    background-color: rgb(125, 145, 134);
    margin: 10px 10px 10px 10px;
    color: black; 
    font-size: 18px;
    text-decoration: none;
}
.link:hover {
    font-size: 19px;
    background-color: rgb(139, 156, 147);
    text-decoration: none;}
/* .link:visited {
    color: rgb(37, 154, 76);
} */